<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <spring>

    <context>
      <!-- using embedded assembly configuration file
      <resource uri="assembly://Spring.IocQuickStart.MovieFinder/Spring.IocQuickStart.MovieFinder/AppContext.xml"/>
      -->

      <!-- using section in App.config -->
      <resource uri="config://spring/objects"/>

    </context>

    <objects xmlns="http://www.springframework.net" >
      <description>An example that demonstrates simple IoC features.</description>

      <object id="EntryData"
              type="SotckAnalyzer.data.EntryData, SotckAnalyzer">
        <!--<property name="price" value="1.2"/>-->
      </object>

      <object id="StockData"  type="SotckAnalyzer.data.StockData, SotckAnalyzer">
        <constructor-arg name="stock" value="600836"/>
        <constructor-arg name="startDate" value="2013-06-01"/>
        <constructor-arg name="endDate" value="2013-07-11"/>
        <constructor-arg name="download" value="true"/>
      </object>

      <object id="BigDealData"  type="SotckAnalyzer.data.BigDealData, SotckAnalyzer">
        <constructor-arg name="data" ref="StockData"/>
        <constructor-arg name="filter" value="500"/>
      </object>

      <object id="FilterData"  type="SotckAnalyzer.data.FilterData, SotckAnalyzer">
      </object>

      <object id="RateData" type="SotckAnalyzer.data.RateData, SotckAnalyzer">
        <constructor-arg name="data1" ref="BigDealData"/>
        <constructor-arg name="data2" ref="StockData"/>
      </object>

      <object type="Spring.Objects.Factory.Attributes.RequiredAttributeObjectPostProcessor, Spring.Core"/>

    </objects>

  </spring>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message%newline" />
      </layout>
    </appender>

    Set default logging level to DEBUG
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    Set logging for MovieFinder to DEBUG
    <logger name="Spring.IocQuickStart.MovieFinder">
      <level value="DEBUG" />
    </logger>

    Set logging for Spring to INFO.
    Logger names in Spring correspond to the namespace
    <logger name="Spring">
      <level value="INFO" />
    </logger>

  </log4net>

</configuration>
