<?xml version="1.0"?>
<configuration>

  <configSections>
    <!--<sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>-->
  </configSections>


  <!--<spring>

    <context>
      --><!-- using embedded assembly configuration file
      <resource uri="assembly://Spring.IocQuickStart.MovieFinder/Spring.IocQuickStart.MovieFinder/AppContext.xml"/>
      --><!--

      --><!-- using section in App.config --><!--
      <resource uri="config://spring/objects"/>

    </context>

    <objects xmlns="http://www.springframework.net" >
      <description>An example that demonstrates simple IoC features.</description>

      <object id="FilterData"
              type="SotckAnalyzer.data.FilterData, SotckAnalyzer"  singleton="false">
      </object>

      <object id="StockData"  type="SotckAnalyzer.data.StockData, SotckAnalyzer" singleton="true">
        <constructor-arg name="stock" value="600228"/>
        <constructor-arg name="startDate" value="2012-09-01"/>
        <constructor-arg name="endDate" value="2013-07-20"/>
        <constructor-arg name="download" value="true"/>
      </object>
      
     <object id="NormalData"  type="SotckAnalyzer.data.NormalData, SotckAnalyzer" singleton="true">
        <constructor-arg name="data" ref="StockData"/>
      </object>
      
      <object id="BigDealData"  type="SotckAnalyzer.data.BigDealData, SotckAnalyzer" singleton="true">
        <constructor-arg name="data" ref="StockData"/>
        <constructor-arg name="filter" value="500"/>
      </object>

      <object id="BigRangeData" type="SotckAnalyzer.data.RangeData, SotckAnalyzer" singleton="true">
        <constructor-arg name="filterData" ref="BigDealData"/>
        <constructor-arg name="type" value="w"/>  --><!--m,w,d,h,2h--><!--
      </object>

      <object id="AllRangeData" type="SotckAnalyzer.data.RangeData, SotckAnalyzer" singleton="true">
        <constructor-arg name="filterData" ref="NormalData"/>
        <constructor-arg name="type" value="w"/> --><!--m,w,d,h,2h--><!--
      </object>


      <object id="RateData" type="SotckAnalyzer.data.RateData, SotckAnalyzer" singleton="true">
        <constructor-arg name="data1" ref="BigDealData"/>
        <constructor-arg name="data2" ref="NormalData"/>
      </object>
      
      <object type="Spring.Objects.Factory.Attributes.RequiredAttributeObjectPostProcessor, Spring.Core"/>

    </objects>

  </spring>-->

  
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
