<StockApp>
	<rootFolder>C:\D_Drive\stock\store\data\</rootFolder>
  <autoDownloadFile>C:\D_Drive\stock\store\data\file.txt</autoDownloadFile>
  <analyzeFile>analyze.csv</analyzeFile>
  <stockFile>stock.csv</stockFile>
  <analyzeFolder>C:\D_Drive\stock\store\analyzeData\</analyzeFolder>
  <updateFile>C:\D_Drive\stock\store\data\{0}\update.txt</updateFile>
  <analyzeStartDate>2012-09-01</analyzeStartDate>
  <analyeChartDir>C:\D_Drive\stock\store\chart</analyeChartDir>
  <clean>true</clean>
  <mySql>server=127.0.0.1;user id=root; password=as; database=albertsong; pooling=false;charset=utf8</mySql>
  <bigDeal>500</bigDeal>
  <!--0/1 0 download update, 1, download all-->
  <downloadAll>0</downloadAll>
</StockApp>