<StockApp>
	<rootFolder>D:\temp\test\data\done\</rootFolder>
  <!--<doneDownloadFile>D:\temp\test\data\done\file.txt</doneDownloadFile>-->
  <analyzeFile>analyze.csv</analyzeFile>
  <stockFile>stock.csv</stockFile>
  <analyzeFolder>D:\stock\store\analyzeData\</analyzeFolder>
  <updateFile>D:\temp\test\data\done\{0}\update.txt</updateFile>
  <analyzeStartDate>2014-01-01</analyzeStartDate>
  <analyeChartDir>D:\stock\store\chart</analyeChartDir>
  <clean>true</clean>
  <top>50</top>
  <!--only store tops-->
  <onlytop>falses</onlytop>
  <bigDeal>500</bigDeal>
  <!--0/1 0 download update, 1, download all-->
  <downloadAll>0</downloadAll>
  <downloadthreadnum>1</downloadthreadnum>
  <downloadAndInsert>true</downloadAndInsert>
  <mysqlstring>Database='Test';Data Source='localhost';User Id='root';Password='admin';charset='utf8';pooling=true"</mysqlstring>
</StockApp>