<StockApp>
	<rootFolder>D:\project\stock\data\</rootFolder>
  <autoDownloadFile>D:\project\stock\data\file.txt</autoDownloadFile>
  <analyzeFile>analyze.csv</analyzeFile>
  <stockFile>stock.csv</stockFile>
  <analyzeFolder>D:\project\stock\analyzeData\</analyzeFolder>
  <updateFile>D:\project\stock\data\{0}\update.txt</updateFile>
  <mySql>server=127.0.0.1;user id=root; password=as; database=albertsong; pooling=false;charset=utf8</mySql>
  <bigDeal>500</bigDeal>
</StockApp>